# Compiled Object files
*.o
*.obj

# Visual Studio Code
**/.vscode/

# Executables
*.out
*.app

*.pyc
/tools/.idea/
/tools/midi_tests/node_modules

.idea/
.DS_Store
*.swp
/Output

# Ignore local overrides of platform.txt and boards.txt,
/boards.local.txt
/platform.local.txt
/libraries/**/build/
