# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

*.pyc
/tools/nrfutil-0.5.2/build/
/tools/nrfutil-0.5.2/dist/
/tools/nrfutil-0.5.2/nrfutil.egg-info/
/tools/.idea/
/tools/midi_tests/node_modules

.DS_Store
*.swp
